@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}


<div class="container-fluid d-flex flex-column gap-5 py-4" id="dashboard">

    <div class="row w-100 mx-auto">
        <div class="col-sm-4">
            <label for="District">District</label>
            <select class="form-select bg-white" name="district" id="district">
                <option value="">Select District</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="Service">Service</label>
            <select class="form-select" name="service" id="service">
                <option value="">Select Service</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="Officer">Officer</label>
            <select class="form-select" name="officer" id="officer">
                <option value="">Select Officer</option>
            </select>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="row w-100  justify-content-between">
            <div class="col-md-2 p-0 mt-2">
                <div class="custom-card count-card flex-column py-5 bg-primary text-white fs-3 gap-0"
                    style="cursor:pointer">
                    <i class="fa-solid fa-file-pen"></i>
                    <span class="text">Total</span>
                    <p class="value fs-2 fw-bold d-flex justify-content-center" id="total">20</p>
                </div>
            </div>
            <div class="col-md-2 p-0 mt-2 ">
                <div class="custom-card count-card flex-column py-5 bg-success text-white fs-3 gap-0"
                    style="cursor:pointer">
                    <i class="fa-solid fa-flag-checkered"></i>
                    <span class="text">Sanctioned</span>
                    <p class="value fs-2 fw-bold d-flex justify-content-center" id="sanction">20</p>
                </div>
            </div>
            <div class="col-md-2 p-0 mt-2">
                <div class="custom-card count-card flex-column fs-3 py-5 bg-warning text-dark gap-0"
                    style="cursor:pointer">
                    <i class="fa-solid fa-hourglass-half"></i>
                    <span class="text">Pending</span>
                    <p class="value fs-2 fw-bold  d-flex justify-content-center" id="pending">20</p>
                </div>
            </div>
            <div class="col-md-2 p-0 mt-2">
                <div class="custom-card count-card flex-column fs-3 py-4 bg-info text-white gap-2"
                    style="cursor:pointer">
                    <i class="fa-solid fa-user-clock"></i>
                    <span class="fs-5">Pending With Citizen</span>
                    <span class="fs-4">For Editing</span>
                    <p class="value fs-2 fw-bold d-flex justify-content-center" id="pendingWithCitizen">20</p>
                </div>
            </div>
            <div class="col-md-2 p-0 mt-2">
                <div class="custom-card count-card flex-column fs-3 py-5 bg-danger text-white gap-0"
                    style="cursor:pointer">
                    <i class="fa-solid fa-ban"></i>
                    <span class="text">Rejected</span>
                    <p class="value fs-2 fw-bold  d-flex justify-content-center" id="rejected">20</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-md-4 offset-md-2">
            <div class="custom-card d-flex flex-column mb-2" style="height: 10vh;">
                <div class="d-flex gap-3">
                    <p>District: <span class="fw-bold" id="chartDistirct"></span></p>
                    <p>Officer: <span class="fw-bold" id="chartOfficer">All</span></p>
                </div>
                <p>Service: <span class="fw-bold" id="chartService">All</span></p>
            </div>
            <div class="custom-card flex-column bg-white text-dark">
                <canvas id="myChart" height="500" width="500"></canvas>
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-card d-flex flex-column mb-2" style="height: 10vh;">
                <p class="fw-bold">All District Data</p>
            </div>
            <div class="custom-card flex-column">
                <canvas id="allDistrict" height="500" width="500"></canvas>
            </div>
        </div>
    </div>

    <div class="container-fluid d-none flex-column gap-5 py-5 mb-5" id="dataGrid">
        <div class="d-flex gap-2">
            <button class="btn btn-info" onclick="printDiv('printableArea')">Print</button>
            <button class="btn btn-success" onclick="exportTableToExcel('applicationListTable')">EXCEL</button>
            <button class="btn btn-danger" onclick="SaveAsPdf('printableArea','applicationListTable')">PDF</button>
        </div>
        <div id="printableArea">
            <table class="table table-responsive table-bordered table-striped" id="applicationListTable">
                <thead class="bg-dark text-white">
                    <th>S.No.</th>
                    <th>Application Number</th>
                    <th>Applicant Name</th>
                    <th>Application Status</th>
                    <th>Applied District</th>
                    <th>Applied Service</th>
                    <th>Application Currently With Officer</th>
                </thead>
                <tbody id="applicationListContainer">

                </tbody>
            </table>
        </div>
    </div>
</div>







<script>
    const countList = @Html.Raw(Json.Serialize(Model));
    let myChart;
</script>
<script src="/js/Admin/functions.js"></script>
<script src="/js/Admin/dashboard.js"></script>