<nav class="navbar navbar-expand-lg flex-column fixed-top  z-0 position-absolute w-100">
    <div class="container-fluid d-flex justify-content-end">
        <button id="dashboardToggler" class="btn btn-dark" style="display: none;">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
    </div>
</nav>