<div class="container-fluid p-0">
    <div class="container-fluid border-bottom">
        <div class="container d-flex flex-row justify-content-between p-0">
            <div class="d-flex align-items-center">
                <span class="p-1">जम्मू और कश्मीर सरकार</span>
                <span class="p-1 border-end border-start border-2">Government of Jammu and Kashmir</span>
                <span class="p-1">حکومت جموں و کشمیر</span>
            </div>
            <div class="d-flex align-items-center">
                <span class="border-start border-end border-2 p-1">SCREEN READER ACCESS</span>
                <span class="border-end border-2 p-1">Tt</span>
                <span class="border-end border-2 p-1">SiteMap</span>
                <span class="p-1">
                    <select class="form-select" name="language" id="language">
                        <option value="en">English</option>
                        <option value="hi">Hindi</option>
                        <option value="ur">Urdu</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
    
    <div class="container d-flex flex-row justify-content-between p-0">
        <div class="d-flex flex-row align-items-center p-0 gap-3">
            <img src="/resources/emblem.png" alt="Emblem" style="width: 60px;" >
            <p style="font-size:20px;font-weight: bold">
                <b>समाज कल्याण विभाग</b>
                <br>
                <b>Department of Social Welfare</b>
                <br>
                <b>محکمہ سوشل ویلفیئر</b>
            </p>
        </div>
        <div><img src="/resources/swach-bharat.png" alt="Swatch Bharat" ></div>
    </div>
</div>