<div class="full-screen-section flex-column py-5 mb-5">
    <div class="container-fluid mt-5">
        <div class="row p-5">
            <div class="col-sm-12 w-50 mx-auto">
                <select class="form-select" name="services" id="services">
                    <option value="">Select Service</option>
                </select>
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-primary d-flex mx-auto text-center fw-bold" id="getRecords">Get
                    Records</button>
            </div>
        </div>
        <div class="row p-5 justify-content-between w-100" id="detailsCards" style="display: none;">
            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #FFC107;color:#000" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-hourglass-half fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="pending">0</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Pending Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #007BFF;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-arrow-right fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="forward">4</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Forwarded Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #28A745;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-check-circle fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="sanction">3</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Sanctioned Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #DC3545;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-times-circle fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="reject">0</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Rejected Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #FD7E14;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-undo-alt fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="return">4</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Returned Applications</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid mt-2" id="listTable" style="display: none;">
        <div class="container center-align gap-2 mb-2" id="containerSwitcher" style="display: none;">
            <button class="btn btn-dark" id="mainButton">Inbox</button>
            <button class="btn btn-secondary" id="approveButton">Approve List</button>
            <button class="btn btn-secondary" id="poolButton">Pool</button>
        </div>
        <div class="container-fluid d-flex justify-content-end mb-2">
            <div id="optionButtons">
                <button class="btn btn-info" onclick="printTable('printableArea')">Print</button>
                <button class="btn btn-success" onclick="exportTableToExcel('applicationsTable')">EXCEL</button>
                <button class="btn btn-danger" onclick="SaveAsPdf('printableArea','applicationsTable')">PDF</button>
            </div>
        </div>
        <div class="container-fluid" id="printableArea">
            <div id="mainContainer" class="container-fluid">
                <table class="table table-striped table-hover table-bordered" id="applicationsTable">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="">
                                <span class="d-flex gap-2">
                                    <input type="checkbox" class="form-check d-flex pending-parent" /><span></span>
                                </span>
                            </th>
                            <th scope="col">Reference Number <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Applicant Name <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Date Of Marriage <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Applicant Submission Date <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
            <div id="ApproveContainer" class="container-fluid" style="display: none;">
                <table class="table table-striped table-hover table-bordered" id="approveTable">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="">
                                <span class="d-flex gap-2">
                                    <input type="checkbox" class="form-check d-flex approve-parent" /><span></span>
                                </span>
                            </th>
                            <th scope="col">Reference Number <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Applicant Name <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Applied To District <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Parentage <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Mother's Name <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Date Of Birth <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Date Of Marriage <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Address <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">District <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Tehsil <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Pincode <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Submission Date <i class="fa-solid fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody id="approveArray">
                    </tbody>
                </table>

                <div class="d-flex gap-2 justify-content-center mt-5">
                    <button class="btn btn-dark d-flex" id="transferToPoolButton" disabled>Transfer To Pool</button>
                    <button class="btn btn-dark d-flex" id="transferBackFromApprove" disabled>Transfer Back to
                        Inbox</button>
                </div>

            </div>
            <div id="PoolContainer" class="container-fluid" style="display: none;">
                <table class="table table-striped table-hover table-bordered" id="poolTable">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="">
                                <span class="d-flex gap-2">
                                    <input type="checkbox" class="form-check d-flex poolList-parent" /><span>Pool</span>
                                </span>
                            </th>
                            <th scope="col">Reference Number <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Applicant Name <i class="fa-solid fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody id="poolArray">
                    </tbody>
                </table>

                <div class="d-flex gap-2 justify-content-center mt-5">
                    <button class="btn btn-dark d-flex" id="sanctionAll" disabled>Sanction</button>
                    <button class="btn btn-dark d-flex" id="transferBackFromPool" disabled>Transfer Back to
                        Inbox</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="showSanctionLetter">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid" id="sanctionLetterDistplay">
                    <iframe id="sanctionFrame" style="width: 100%; height: 800px;"></iframe>
                    <button class="btn btn-dark d-flex mx-auto" id="approve">Approve</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    const serviceList = @Html.Raw(Json.Serialize(Model));
</script>
<script src="/js/pagination.js"></script>
<script src="/js/Officer/Applications/helperFunctions.js"></script>
<script src="/js/Officer/Applications/tableCreation.js"></script>
<script src="/js/Officer/Applications/script.js"></script>
<script src="/js/Officer/index.js"></script>