<div class="full-screen-section flex-column py-5 mb-5">
    <div class="container-fluid mt-5">
        <div class="container d-flex justify-content-center gap-2">
            <select class="form-select w-50" name="services" id="services">
                <option value="">Select Service</option>
            </select>

            <button class="btn btn-primary" id="getRecords">Get Records</button>
        </div>
        <div class="row p-5 justify-content-between w-100" id="detailsCards" style="display: none;">
            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #FFC107;color:#000" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-hourglass-half fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="pending">0</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Pending Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #007BFF;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-arrow-right fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="forward">4</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Forwarded Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #28A745;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-check-circle fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="sanction">3</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Sanctioned Applications</p>
                </div>
            </div>

            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #DC3545;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-times-circle fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="reject">0</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Rejected Applications</p>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #06d4df;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-times-circle fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="pendingWithCitizen">0</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Pending With Citizens</p>
                </div>
            </div>
            
            <div class="col-md-3 mt-2">
                <div class="card border-0 p-3 py-5 rounded-border"
                    style="cursor: pointer;background-color: #FD7E14;color:#fff" data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <div class="center-align gap-4">
                        <i class="fas fa-undo-alt fs-1"></i>
                        <p class="text-center fs-1 value my-auto" id="return">4</p>
                    </div>
                    <p class="text-center fs-4 fw-bold">Returned Applications</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid mt-2" id="listTable" style="display: none;">
        <div class="container-fluid d-flex justify-content-end mb-2">
            <div id="optionButtons">
                <button class="btn btn-info" onclick="printTable('printableArea')">Print</button>
                <button class="btn btn-success" onclick="exportTableToExcel('applicationsTable')">EXCEL</button>
                <button class="btn btn-danger" onclick="SaveAsPdf('printableArea','applicationsTable')">PDF</button>
                <button class="btn btn-success" id="exportAll">Export All Data</button>
            </div>
        </div>
        <div class="container-fluid py-5" id="printableArea">
            <div id="mainContainer" class="container-fluid mb-5 py-5">
                 <div class="container d-none justify-content-center gap-2" id="containerSwitcher">
                    <button class="btn btn-dark list-button" value="Inbox">Inbox(<span id="inboxCount">0</span>)</button>
                    <button class="btn btn-secondary list-button" value="Approve">Approve List(<span id="approveCount">0</span>)</button>
                    <button class="btn btn-secondary list-button" value="Pool">Pool(<span id="poolCount">0</span>)</button>
                </div>
                <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-striped table-hover table-bordered w-100" id="applicationsTable">
                        <thead class="bg-dark text-white">
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="showSanctionLetter">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid" id="sanctionLetterDistplay">
                    <iframe id="sanctionFrame" style="width: 100%; height: 800px;display:block"></iframe>
                    <button class="btn btn-dark d-flex mx-auto" id="approve">Approve</button>
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    const serviceList = @Html.Raw(Json.Serialize(Model));
</script>
<script src="/js/pagination.js"></script>
<script src="/js/Officer/Applications/helperFunctions.js"></script>
<script src="/js/Officer/Applications/tableCreation.js"></script>
<script src="/js/Officer/Applications/script.js"></script>
<script src="/js/Officer/index.js"></script>