<div class="full-screen-section py-5 mb-5">
    <div class="container-fluid d-flex flex-column gap-4 py-5 mt-5 mb-5">
        <div class="container d-flex gap-3 justify-content-center align-items-center fs-4">
            <div class="row w-100  d-flex">
                <div class="col-sm-6 d-flex gap-2">
                    <p class="fw-bold">District:</p>
                    <p id="district"></p>
                </div>
                <div class="col-sm-6 d-flex gap-2">
                    <p class="fw-bold">Officer:</p>
                    <p id="officer"></p>
                </div>
            </div>
        </div>

        <div class="row w-100 mx-auto">
            <div class="col-sm-4">
                <label for="Service">Service</label>
                <select class="form-select" name="service" id="service">
                    <option value="">Select Service</option>
                </select>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-center ps-0">
            <div class="row w-100 justify-content-around">
                <div class="col-lg-2 p-0 mt-2">
                    <div class="dashboard-card bg-primary text-white" style="cursor:pointer" id="Total">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="text">Total</span>
                        <span class="value" id="total">20</span>
                    </div>
                </div>
                <div class="col-lg-2 p-0 mt-2">
                    <div class="dashboard-card bg-success text-white" style="cursor:pointer" id="Sanctioned">
                        <i class="fa-solid fa-flag-checkered"></i>
                        <span class="text">Sanctioned</span>
                        <p class="value" id="sanction">20</p>
                    </div>
                </div>
                <div class="col-lg-2 p-0 mt-2">
                    <div class="dashboard-card bg-warning text-dark" style="cursor:pointer" id="Pending">
                        <i class="fa-solid fa-hourglass-half"></i>
                        <span class="text">Pending</span>
                        <p class="value" id="pending">20</p>
                    </div>
                </div>
                <div class="col-lg-2 p-0 mt-2">
                    <div class="dashboard-card bg-info text-white" style="cursor:pointer" id="PendingWithCitizen">
                        <i class="fa-solid fa-user-clock"></i>
                        <span class="text fs-5">Pending With Citizen</span>
                        <span class="text fs-5">For Editing</span>
                        <p class="value" id="pendingWithCitizen">20</p>
                    </div>
                </div>
                <div class="col-lg-2 p-0 mt-2">
                    <div class="dashboard-card bg-danger text-white" style="cursor:pointer" id="Rejected">
                        <i class="fa-solid fa-ban"></i>
                        <span class="text">Rejected</span>
                        <p class="value" id="rejected">20</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-lg-4 offset-lg-2 mb-2">
                <div class="custom-card d-flex flex-column mb-2 p-2" style="height: 10vh;">
                    <div class="d-flex gap-3">
                        <p>District: <span class="fw-bold" id="chartDistirct"></span></p>
                        <p>Officer: <span class="fw-bold" id="chartOfficer">All</span></p>
                    </div>
                    <p>Service: <span class="fw-bold" id="chartService">All</span></p>
                </div>
                <div class="custom-card flex-column bg-white text-dark mx-auto">
                    <canvas id="myChart" height="350" width="350"></canvas>
                </div>
            </div>

            <div class="col-lg-4 mx-auto">
                <div class="custom-card d-flex flex-column mb-2" style="height: 10vh;">
                    <p class="fw-bold">All District Data</p>
                </div>
                <div class="custom-card flex-column">
                    <canvas id="allDistrict" height="350" width="350"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid d-none flex-column gap-5 py-5 mb-5" id="dataGrid">
        <div class="container-fluid d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div class="dropdown">
                    <button type="button" class="btn btn-light border dropdown-toggle w-100" data-bs-toggle="dropdown">
                        Select Report Columns
                    </button>
                    <ul class="dropdown-menu w-100 px-2">
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="applicationNo">Application Number</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="applicantName">Applicant Name</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="applicationStatus">Application Status</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="appliedDistrict">Applied District</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="appliedService">Applied Service</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="applicationCurrentlyWith">Application Currently With</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="receivedOn">Received
                            On</li>
                        <li class="d-flex gap-2"><input type="checkbox" name="chosenColumns" class="form-check"
                                value="submissionDate">Application Submission Date</li>
                    </ul>
                </div>
                <button class="btn btn-primary" id="getRecords">Get Records</button>
            </div>
            <div class="">
                <button class="btn btn-info" onclick="printTable('printableArea')">Print</button>
                <button class="btn btn-success" onclick="exportTableToExcel('applicationListTable')">EXCEL</button>
                <button class="btn btn-danger" onclick="SaveAsPdf('printableArea','applicationListTable')">PDF</button>
            </div>
        </div>
        <div id="printableArea">
            <table class="table table-responsive table-bordered table-striped" id="applicationListTable">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>S.No.</th>
                        <th>Application Number</th>
                        <th>Applicant Name</th>
                        <th>Application Status</th>
                        <th>Applied District</th>
                        <th>Applied Service</th>
                        <th>Application Currently With</th>
                        <th>Application Received On</th>
                        <th>Application Submission Date</th>
                    </tr>
                </thead>
                <tbody id="applicationListContainer">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const countList = @Html.Raw(Json.Serialize(Model));
    let myChart;
</script>
<script src="/js/Officer/reports.js"></script>