<div class="full-screen-section center-align">
    <div class="container center-align flex-column">
        <p class="fs-1 fw-bold">Unauthorize Access</p>
        <img src="/resources/unauthorized.jpg" alt="UnAuthorized" class="img-fluid w-50">
    </div>
</div>