<div class="container bg-white rounded-border shadow p-5 width-50">
    <label for="Service Name">Service Name</label>
    <input class="form-control mb-3" type="text" name="serviceName" id="serviceName" placeholder="Service Name">
    <label for="Department Name">Department Name</label>
    <input class="form-control" type="text" name="departmentName" id="departmentName" placeholder="Department Name">
</div>

<button class="btn btn-dark d-flex mx-auto mt-3" id="createService">CREATE SERVICE</button>