<div id="form" class="container d-flex flex-column p-5 bg-white rounded-border shadow"
    style="max-height: 800px;overflow-y: auto;">
</div>

<button id="generateForm" class="btn btn-dark d-flex mx-auto mt-3 text-center fw-bold fs-4">Generate Form</button>