<div class="center-align flex-column gap-4">
    <p class="fs-3 text-center">Choose starting level of Form</p>
    <div class="center-align gap-5">
        <div class="custom-card p-5 hover-card" id="tehsilLevel" role="button">
            <p class="fs-1 fw-bold text-center">TEHSIL LEVEL</p>
        </div>
        <div class="custom-card p-5 hover-card" id="districtLevel" role="button">
            <p class="fs-1 fw-bold text-center">DISTRICT LEVEL</p>
        </div>
    </div>
</div>

