<div class="container bg-white rounded-border shadow p-5 width-50" id="officersContainer"
    style="max-height: 600px;overflow-y: auto;">


</div>

<button class="btn btn-dark d-flex mx-auto mt-2" id="addOfficerBtn">Add Officer</button>
<button class="btn btn-success mt-3 d-none mx-auto" id="saveOfficersBtn">Save Officers</button>